[Desktop Entry]
Version=1.0
Name=PPassKeeper
GenericName=Password manager
GenericName[fr]=Gestionnaire de mots de passe
Comment=Manage your saved passwords
Comment[fr]=Gérer ses mots de passes stockés
Exec=ppasskeeper-qt
Icon=/usr/share/pixmaps/ppk_logo_mini_48.png
Terminal=false
Type=Application
Categories=Utility;
